div#map_canvas
    ui-gmap-google-map(events='map.events' center='map.center' zoom='map.zoom')
        //ui-gmap-marker(ng-repeat="marker in dataSet track by $index" idKey='marker.objectid' coords="marker.location")