div#map_canvas
    ui-gmap-google-map(events='map.events' center='map.center' zoom='map.zoom')
        ui-gmap-marker(ng-if="marker" ng-repeat="singleMarker in dataSet track by $index" idKey='singleMarker.objectid' coords="singleMarker.location")
    div#map_options
        h4.center Data Options
        input#checkMarker(type="checkbox" ng-checked="marker" ng-model="marker")
        label(for="checkMarker") Show crash markers
div#pleaseWaitDialog.modal.fade(data-backdrop="static" data-keyboard="false")
    div.modal-dialog
        div.modal-header
            h1#modalStatus Processing...
        div.modal-body
            div.progress
                div.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
div#route_info
    table(style='width: 100%; border: solid; border-collapse: collapse;')
        tr
            td(style="border: solid; width: 50%; padding-left: 5px;") Wrecks:
            td#wreck_count(style="border: solid; width: 50%; padding-left: 5px;")
        tr
            td(style="border: solid; width: 50%; padding-left: 5px;") Speed Limit:
            td#speed_limit(style="border: solid; width: 50%; padding-left: 5px;")