leaflet#map_canvas(center="center" defaults="defaults" layers="layers")
div#pleaseWaitDialog.modal.fade(data-backdrop="static" data-keyboard="false")
    div.modal-dialog
        div.modal-header
            h1#modalStatus Processing...
        div.modal-body
            div.progress
                div.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
div#legend(Title="Legend")
  div.accidentLegend
    div Accidents:
    div.rows
  div.roadsLegend
    div Roads:
    div.rows
  div#legend_detail
    table.table(ng-repeat="wreck in wrecks track by $index")
        tr.table-striped
            th Wreck:
            th {{$index+1}}
        tr.table-striped
            td Wreck Time:
            td#speed_limit {{wreck.crash_time}}
        tr.table-striped
            td Speed:
            td#speed_limit {{wreck.drvr_estsp}} ({{wreck.speed_limi}} limit)
        tr.table-striped
            td Alc. Involved:
            td#speed_limit {{wreck.crashalcoh}}
    table.table(ng-show="accident")
        tr.table-striped
            th Accident:
            th {{accident.bike_injur}}
        tr.table-striped
            td Wreck Time:
            td#speed_limit {{accident.crash_time}}
        tr.table-striped
            td Age/Race/Gender:
            td#speed_limit {{accident.bike_age}}/{{accident.bike_sex}}/{{accident.bike_race}}
