doctype html
html(lang="en")
    head
        base(href="/")

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="shortcut icon", href="/images/favicon.jpg", type="image/jpg")

        - var title = siteTitle || "Ride or Die"
        title #{title}

        //-- Bootstrap Core CSS --
        link(href="/bower/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

        //-- Other CSS --
        link(href="/stylesheets/Styles.css", rel="stylesheet")

        //-- Custom Fonts --
        link(href="/bower/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")

        script(src="/bower/jquery/dist/jquery.min.js")

        //Angular
        script(src="/bower/lodash/lodash.min.js")
        script(src="/bower/angular/angular.min.js")
        script(src="/bower/angular-route/angular-route.min.js")

        // D3
        script(src="/bower/d3/d3.min.js")
        script(src="/bower/topojson/topojson.js")
        script(src="/bower/colorbrewer/colorbrewer.js")

        //-- Leaflet --
        link(href="/bower/leaflet/dist/leaflet.css", rel="stylesheet")
        script(src="/bower/leaflet/dist/leaflet.js")
        script(src="/scripts/L.D3SvgOverlay.min.js")
        script(src="/bower/angular-leaflet-directive/dist/angular-leaflet-directive.min.js")

        script(src="/angular/app.js")
        script(src="/angular/MainMap.js")
        script(src="/angular/AddAccident.js")
        script(src="/angular/PathController.js")
        script(src="/angular/CrashesController.js")

        //Firebase
        script(src="/bower/firebase/firebase.js")
        script(src="/bower/angularfire/dist/angularfire.min.js")

body(ng-app="BikeSafety")
    nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a.navbar-brand Bike Safety
            form.navbar-form.navbar-right(ng-controller="headerController")
                button.btn.btn-default(ng-click="togglePage()")
                    i.glyphicon.glyphicon-pencil.black &nbsp; {{ label }}

    div.container
        div#pleaseWaitDialog.modal.fade(data-backdrop="static" data-keyboard="false")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        h1#modalStatus Processing...
                    div.modal-body
                        div.progress
                            div.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")

        ng-view

    script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
    script(src="/scripts/ui-bootstrap-0.11.2.min.js")
    script(src="/scripts/ui-utils.js")
