doctype html
html(lang="en")
    head
        base(href="/")

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="shortcut icon", href="/images/favicon.jpg", type="image/jpg")

        - var title = siteTitle || "Ride or Die"
        title #{title}

        //-- Bootstrap Core CSS --
        link(href="/bower/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

        //-- Other CSS --
        link(href="/stylesheets/Styles.css", rel="stylesheet")

        //-- Custom Fonts --
        link(href="/bower/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")

        script(src="/bower/jquery/dist/jquery.min.js")

        //-- JQuery UI CSS --
        link(href="/scripts/jquery-ui-1.11.2.custom/jquery-ui.min.css", rel="stylesheet")
        link(href="/scripts/jquery-ui-1.11.2.custom/jquery-ui.structure.min.css", rel="stylesheet")
        link(href="/scripts/jquery-ui-1.11.2.custom/jquery-ui.theme.min.css", rel="stylesheet")

        //-- JQuery UI --
        script(src="/scripts/jquery-ui-1.11.2.custom/jquery-ui.js")

        //Angular
        script(src="/bower/lodash/lodash.min.js")
        script(src="/bower/angular/angular.min.js")
        script(src="/bower/angular-route/angular-route.min.js")

        // D3
        script(src="/bower/d3/d3.min.js")
        script(src="/bower/topojson/topojson.js")
        script(src="/bower/colorbrewer/colorbrewer.js")

        //-- Leaflet --
        link(href="/bower/leaflet/dist/leaflet.css", rel="stylesheet")
        script(src="/bower/leaflet/dist/leaflet.js")
        script(src="/scripts/L.D3SvgOverlay.min.js")
        script(src="/bower/angular-leaflet-directive/dist/angular-leaflet-directive.min.js")

        script(src="/angular/Routes.js")

        //Firebase
        script(src="/bower/firebase/firebase.js")
        script(src="/bower/angularfire/dist/angularfire.min.js")

body(ng-app="RideOrDie")
    nav.navbar.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a.navbar-brand Bike Safety
            div.collapse.navbar-collapse.navbar-right
                ul.nav.navbar-nav
                    li
                        a
                          i.glyphicon.glyphicon-pencil.black &nbsp;Add Accident

    div.container
        ng-view

    script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
    script(src="/scripts/ui-bootstrap-0.11.2.min.js")
    script(src="/scripts/ui-utils.js")
