leaflet#map_canvas(center="center" defaults="defaults" layers="layers" legend="legend")
div.panel.panel-default#legend(Title="Legend")
  div.panel-heading
    h3.panel-title Legend
  div.panel-body
    div(ng-controller="pathController")
      input(type="checkbox" ng-change="change()" ng-model="showRoad")
      | Show Paths
      div.roadLegend(ng-show="showRoad")
        div # Accidents on Road:
        div.rows
        hr
    div(ng-controller="crashesController")
      div.inline Color accidents by&nbsp;&nbsp;
      select#color_combo
        option(ng-repeat="(key,value) in keyToHumanReadables" value="{{key}}" ng-selected="{{colorAccidentsBy == key}}") {{keyToHumanReadables[key].description}}
      hr

      input(type="checkbox" ng-change="change()" ng-model="showCrashes")
      | Show Crashes
      div.accidentLegend
        div.rows
        hr
    div#legend_detail
      table.table(ng-repeat="wreck in wrecks track by $index")
          tr.table-striped
              th Wreck:
              th {{$index+1}}
          tr.table-striped
              td Wreck Time:
              td#speed_limit {{wreck.crash_time}}
          tr.table-striped
              td Speed:
              td#speed_limit {{wreck.drvr_estsp}} ({{wreck.speed_limi}} limit)
          tr.table-striped
              td Alc. Involved:
              td#speed_limit {{wreck.crashalcoh}}
      table.table(ng-show="accident")
          tr.table-striped
              th Accident:
              th {{accident.bike_injur}}
          tr.table-striped
              td Wreck Time:
              td#speed_limit {{accident.crash_time}}
          tr.table-striped
              td Age/Race/Gender:
              td#speed_limit {{accident.bike_age}}/{{accident.bike_sex}}/{{accident.bike_race}}
